
*{
font-family:Garamond;
}
#myheader{
	height: 120px;
	width: 100%;
	text-align:center;
	background-color: lightblue;
}
#myIndex{
	position:fixed;
	top:145px;
	text-align:right;
	background-color: white;
	line-height: 100%;
	width: 240px;
	height: 100%;
	padding-right: 10px;
	float:left;
}
#myBody{
	top: 2000px;
	margin-left:250px;
}
#participants{
	text-align:center;
	background-color: lightcyan;
	padding: 10px;
}
#dataSources{
	text-align:center;
	background-color: lightcyan;
	padding: 1px;
}
table, th,td,tr{
	border-collapse: collapse;
	border: 1px solid blue;
}
