
*{
	font-family:Garamond;
}

#myheader{
	height: 120px;
	width: 100%;
	text-align:center;
	background-color: #F0F0F0 ;
	border:2px solid grey;
	border-radius: 10px;
}
#myIndex{
	position:fixed;
	top:145px;
	text-align:right;
	background-color: white ;
	line-height: 100%;
	width: 240px;
	padding-right: 10px;
	float:left;
	border:2px solid grey;
	border-radius: 10px;
}
#myBody{
	margin: 10px;
	top: 2000px;
	margin-left:250px;
}
#participants{
	margin: 10px;
	text-align:center;
	background-color: #F8F8F8 ;
	border:2px solid grey;
	border-radius: 10px;
	
}
#participant{
	background-color: white ;
	float:inherit;
	margin:auto;
	padding: 10px;
	width:500px; 
	height:250px;
}
#nameImage{
	float:left;
	width:200;
}
#infoParticipant{
	padding-left:100px;
	width:400px;
}
#dataSources{
	text-align:center;
	margin:10px;
	background-color: #F8F8F8 ;
	padding:10px;
	border:2px solid grey;
	border-radius: 10px;
}
table, th,td,tr{
	text-align: center;
	max-width:900px;
	border-collapse: collapse;
}
